// Variables para el tema claro
$primary: #FFB6C1; // Rosa pastel
$secondary: #FFDAB9; // Naranja pastel
$success: #A3D9A5; // Verde pastel 
$info: #A8DADC; // Azul celeste pastel
$warning: #F7D794; // Amarillo pastel 
$danger: #FF6F61; // Rojo coral 
$light: #FFF5E6; // Beige pastel 
$dark: #5D5C61; // Gris suave 
$body-bg: #FFF9F0; // Fondo crema 
$text-color: #4D4D4D; // Gris medio para el texto   